---
title: Share Extras - A collection of popular add-ons for Alfresco Share
layout: default
---
<div class="row-fluid">
<div class="hero-unit">
  <h1>Hello, world!</h1>
  <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row-fluid">
  {% assign pcount = 0 %}
  {% for page in site.pages %}
  {% if page.category == "addon" %}
  {% assign pcount =  pcount | plus:1 %}
  {% capture moduloo %}{{ pcount | modulo:3 }}{% endcapture %}
  <div class="span4">
    <h2>{{ page.projecttitle }}</h2>
    <p>{{ page.projectdesc }}</p>
    <p><a class="btn" href="addons/{{ page.projectname }}/">View details &raquo;</a></p>
  </div><!--/span-->
    {% if moduloo == '0' %}
    </div>
    <div class="row-fluid">
    {% endif %}
  {% endif %}
  {% endfor %}
</div><!--/row-->