          <div class="well sidebar-nav">
            <h1 class="header">{{ page.projecttitle }} by Share Extras</h1>
            <p class="header">Enhanced document previews for a range of different document and media types</p>
            {% assign types = page.dltypes | split:',' %}
            {% for type in types %}
            <p><a class="btn btn-primary download buttons" href="https://github.com/share-extras/media-viewers/zipball/master"><span>Download {{ type || upcase }}</span></a></p>
            {% endfor %}
            <p><a class="btn btn-primary download buttons github" href="https://github.com/share-extras/{{page.projectname}}"><span>View On GitHub</span></a></p>
            <p class="header">Contributors: {{page.contributors}}</p>
          </div><!--/.well -->