          <div class="well sidebar-nav">
            <h1 class="header">{{ page.projecttitle }} by Share Extras</h1>
            <p class="header">{{ page.projectdesc }}</p>
            {% assign types = page.dltypes | split:',' %}
            <p><a class="btn btn-primary download buttons" href="https://github.com/share-extras/{{page.projectname}}/releases"><span>Download</span></a></p>
            <p><a class="btn btn-primary download buttons github" href="https://github.com/share-extras/{{page.projectname}}"><span>View on GitHub</span></a></p>
            {% if page.addonurl %}
            <p><a class="btn btn-primary download buttons" href="{{page.addonurl}}"><span>View on Alfresco Add-ons</span></a></p>
            {% endif %}
            <p class="header">Contributors: {{page.contributors}}</p>
          </div><!--/.well -->
