---
title: Share Extras - Addons
layout: default
---
<div class="row-fluid">
<h1>Add-ons</h1>
</div>
<div class="row-fluid">
  {% assign pcount = 0 %}
  {% for page in site.pages %}
  {% if page.category == "addon" and page.projectdesc|size > 0 and page.projectname != 'share-extras.github.com' %}
  {% assign pcount =  pcount | plus:1 %}
  {% capture moduloo %}{{ pcount | modulo:3 }}{% endcapture %}
  <div class="span4">
    <h2>{{ page.projecttitle }}</h2>
    <p>{{ page.projectdesc }}</p>
    <p><a class="btn" href="{{ page.projectname }}/">View details &raquo;</a></p>
  </div><!--/span-->
    {% if moduloo == '0' %}
    </div>
    <div class="row-fluid">
    {% endif %}
  {% endif %}
  {% endfor %}
</div><!--/row-->